@import "fonts"
@import "vars"

//header
header
  position: absolute
  left: 0
  top: 0
  z-index: 3
  width: 100%
  .container
    align-items: flex-end

.btn-apply
  width: 170px
  height: 91px
  padding: 10px 34px
  flex-direction: column
  font-weight: bold
  align-items: flex-start
  letter-spacing: 1.5px
  .btn-icon
    margin: 0 0 13px

.logo
  display: flex
  align-items: center
  max-width: 170px
  width: 100%

.header-wrapper
  margin: 0 auto
  max-width: 770px
  width: 100%

.header-top
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-end
  flex-wrap: wrap
  padding: 15px 0
  a.box-decor
    margin: 0 0 0 55px
    &:first-child
      margin: 0

.menu
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  font-size: 15px
  width: 100%
  border-top: 1px solid rgba(#fff, .1)
  li
    a
      color: #fefefe
      padding: 20px 0 0
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        top: -2px
        height: 0
        width: 0
        background: $orange
        transition: .3s ease
      &:hover
        color: $orange
        &:before
          width: 100%
          height: 2px
    .active
      &:before
        width: 100%
        height: 2px

.language
  color: #fff
  font-size: 13px
  text-transform: uppercase
  margin: 0 0 0 30px

.btn-burger
  display: none
  flex-direction: column
  align-items: flex-start
  justify-content: space-between
  width: 18px
  height: 14px
  cursor: pointer
  margin: 0 44px 0 0
  span
    display: block
    width: 100%
    height: 2px
    background: #fff

.mobile-menu
  position: absolute
  left: 0
  top: 0
  z-index: 5
  width: 100%
  background: #0a1d37
  padding: 0 16px 60px
  display: none
  .btn-apply
    margin: 0 -15px 0 0
    width: 70px
    height: 69px
    padding: 0
    align-items: center
    justify-content: center
  &-top
    width: 100%
    display: flex
    align-items: center
    font-size: 13px
  .box-decor
    margin: 0 auto
  .menu
    display: flex
    flex-direction: column
    align-items: center
    border: none
    margin: 30px auto
    li
      margin: 0 auto 30px
      a
        padding: 0 0 10px
        &:before
          top: auto
          bottom: 0


.btn-close
  width: 18px
  height: 18px
  position: relative
  cursor: pointer
  &:after, &:before
    content: ''
    position: absolute
    left: 9px
    top: 0
    width: 2px
    height: 100%
    background: #fff
    border-radius: 5px
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(135deg)

.list-language
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center
  text-transform: uppercase
  font-size: 13px
  li
    margin: 0 25px 0 0
    &:last-child
      margin: 0
    a
      color: rgba(#fff, .3)
    .active
      color: #fff