@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .header-wrapper
    max-width: 610px

  .about-images
    max-width: 470px
    .image
      max-width: 400px

  .about-content
    width: calc(100% - 470px)

  .advantages-slider
    max-width: 700px
    padding: 0

  .main-contacts
    &:after
      width: 100%
      height: 100%
      left: 0

  .callback-image__bg
    min-width: auto

  .marker-text
    margin: 30px auto 0

  .training-timeline
    padding: 100px 0 90px

  .total-duration
    margin: 30px auto 0

  .training-timeline-box
    max-width: 185px


/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px)
  .certificates-wrapper
    padding: 0

  .certificates h2
    margin: 0 auto 40px

  .fleet
    padding: 90px 0 80px

  .certificates-two h2
    margin: 0 auto 30px
    max-width: none

  .certificates-two .scroll-block
    max-width: none

  .team-box__photo
    height: 270px

  .team-wrapper
    padding: 0 0 0 100px

  .training-timeline-box
    max-width: 49%
    margin: 0 0 30px
    &:nth-last-child(2)
      margin: 30px 0 0

  .training-category
    transform: none
    margin: 0 auto 20px
    width: 100%
    text-align: center
    order: -1

  .training-timeline-finish
    width: 100%
    height: auto
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 30px auto 0

  .training-timeline-finish__icon
    margin: 0 20px 0 0


  .training-timeline-finish__text
    position: relative
    top: 0
    right: 0
    transform: none
    width: auto
    left: 0

@media only screen and (max-width: 992px)
  .menu
    display: none

  .header-top
    padding: 0
    width: auto
    font-size: 13px
  .header-wrapper
    max-width: none
    width: auto
    margin: 0 20px 0 auto

  header
    .container
      align-items: center

  .btn-apply
    margin: 0 -15px 0 0
    height: 69px
    padding: 10px 20px
    width: 145px
    .btn-icon
      display: none

  .btn-burger
    display: flex

  .home
    padding: 198px 0 0

  .timetable
    padding: 80px 0 48px

  .timetable-line__date
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    width: 95px
    .timetable-line__icon
      margin: 0 auto 16px

  .timetable-line__box
    padding: 20px 10px

  .about
    padding: 80px 0
    &-images
      max-width: none
      margin: 0 auto 60px
      .image
        max-width: 598px
        height: 450px
    &-content
      width: 100%
      padding: 0
      max-width: none

  .advantages-slider
    max-width: none
    margin: 40px auto 0

  .certificates
    padding: 80px 0
    background: #eef3fb
    &:before
      display: none

  .certificates-wrapper
    margin: 0
    justify-content: flex-start

  .certificate-box
    min-width: 270px

  .slider-nav
    margin: 40px 0 0

  .place
    padding: 78px 0 60px

  .place-decor
    top: 10px

  .callback
    padding: 88px 0 0

  .contacts-wrapper
    width: 100%
    margin: 40px auto 0
    justify-content: center

  .callback-box
    min-width: 400px
    max-width: 400px
    padding: 80px 70px 74px

  .main-page
    padding: 180px 0 50px

  .header-top a.box-decor, .language
    margin: 0 0 0 15px

  .header-top a.box-decor
    font-size: 12px

  .col-3
    width: 50%

  .news-card
    margin: 0 0 40px

  .main-contacts .contacts-wrapper
    margin: 30px 0 0
    justify-content: flex-start

  .callback-page
    padding: 0

  .callback-image
    width: calc(100% - 400px)

  .about-school
    .about-content
      margin: 0 0 40px
    .about-images
      margin: 0

  .about-wrapper
    flex-direction: column
    align-items: flex-start
    margin: 30px 0 0

  .about-wrapper__img
    width: 100%
    order: 1
    margin: 0 0 0 -15px
    img
      min-width: auto

  .about-wrapper__text
    width: 100%
    max-width: none

  .main-wrapper-two .main-box
    height: 300px

  .block_hover-img
    width: 300px
    height: 250px

  .block_hover-text
    padding: 30px
    font-size: 16px
    width: calc(100% - 300px)

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .main-wrapper
    width: calc(100% + 30px)
    margin: 0 -15px

  .home-content
    margin: 0 0 157px 70px
    max-width: 308px

  h1
    font-size: 39.5px

  .home
    -webkit-background-size: 1400px
    background-size: 1400px
    background-position: -430px top
    position: relative

  .list-messengers
    display: none

  h2
    font-size: 30px
    text-align: center
    justify-content: center
    &:after
      left: calc(50% - 20px)
      transform: translate(-50%,0)
    &:before
      left: calc(50% + 20px)
      transform: translate(-50%,0)

  .title-wrapper
    h2
      width: 100%

  .fleet
    .title-wrapper
      .links
        display: none

  .timetable-line
    position: relative
    padding: 20px 0 20px 120px

  .timetable-line__box
    padding: 0
    margin: 0 0 15px
    width: 33.333%

  .timetable-line__date
    position: absolute
    left: 0
    height: 100%
    top: 0
    margin: 0
    width: 95px

  .timetable-line__title
    width: 100%
    order: 1
    margin: 0

  .timer
    margin: 45px auto 0
    &:before, &:after
      width: calc(50% - 120px)

  .about-content
    .box-text
      text-align: center
    .btn
      margin: 45px auto 0

  .advantages
    padding: 0 0 87px

  .advantages-item__content
    padding: 0 0 0 26px

  .slick-arrow
    left: 96px

  .slick-next
    left: 165px

  .place-box
    height: 180px
    padding: 30px

  .place
    h2
      text-align: left
      &:before
        left: 39px
        transform: none
      &:after
        left: 0
        transform: none

  .callback-box
    min-width: auto
    width: calc(100% + 30px)
    margin: 0 -15px
    max-width: none

  .map-wrapper
    min-width: auto
    width: calc(100% + 30px)
    margin: 0 -15px
    height: 500px

  .callback-wrapper
    flex-wrap: wrap

  .contacts-box
    margin: 0 48px 0 0

  .form
    max-width: 430px
    margin: 0 auto

  footer
    padding: 30px 0 25px

  .header-top a.box-decor
    font-size: 10px

  .callback-page
    .map-wrapper
      position: relative
      height: 400px
    .callback-box
      margin: 0 -15px
      width: calc(100% + 30px)

  .main-program .box-text
    margin: 40px 0 0
    font-size: 16px

  .programs-box
    margin: 0 0 40px
    h3
      font-size: 24px
    &__head
      max-width: none
      width: 100%
      margin: 0 0 30px
      h5
        font-size: 16px
        letter-spacing: 0
    &__body
      width: 100%
      padding: 0
      max-width: none

  .programs-page
    padding: 50px 0 0

  .callback-image
    width: calc(100% + 30px)
    margin: 0 -15px
    padding: 30px 0 260px
    h2
      max-width: none

  .block_hover-wrapper
    flex-direction: column
    align-items: flex-start

  .block_hover-text
    width: 100%

  .block_hover-img
    margin: 0 auto

  .price-service
    width: 100%
    margin: 10px 0 0

  .aviation-about
    padding: 60px 0 0

  .programs-box__head .box-text
    max-width: none
    margin: 20px 0 0
    p
      margin: 0 0 20px

  .gallery-section h2
    br
      display: none

  .gallery-section
    padding: 60px 0 0

  .gallery-section:nth-child(odd)
    padding: 60px 0 40px
    .gallery-box-title
      padding: 0



/* Extra Small Devices, Phones */
@media only screen and (max-width: 730px)
  .language
    margin: 0 0 0 20px

  .header-wrapper
    display: none

  .btn-apply
    margin: 0 -15px 0 auto
    width: 70px
    height: 69px
    padding: 0
    align-items: center
    justify-content: center
    .btn-icon
      display: flex
      margin: 0
    .btn-text
      display: none

  .news
    padding: 70px 0 60px

  .news-card__body
    font-size: 13px
    padding: 25px 30px

  .team
    padding: 60px 0 30px

  .team-box
    margin: 0 0 30px

  .team-wrapper
    padding: 0
    width: 100%
    margin: 20px 0 0

  .team h2
    max-width: none

  .callback-two
    padding: 50px 0 0



@media only screen and (max-width: 576px)
  footer
    padding: 40px 0 38px
    .container
      flex-direction: column
      align-items: center

  .copyright
    margin: 0 auto 26px

  .list-social
    margin: 20px auto 0
    li
      margin: 0 20px 0 0

  .callback-box
    padding: 80px 15px 74px

  .map-wrapper
    height: 300px

  .contacts-wrapper
    flex-direction: column
    align-items: center

  .contacts-box
    margin: 0 0 38px
    max-width: 226px
    width: 100%

  .place
    padding: 80px 0 0
    &:after
      display: none
    &:before
      width: 171px
      height: 155px

  .place-box
    width: 150px
    height: 180px
    border-bottom: none
    background: #fff


  .place-wrapper
    background: transparent

  .place-wrapper.slick-initialized .slick-slide
    display: flex

  .place-wrapper-dots
    margin: 40px auto 0
    position: relative

    li
      background: rgba(#0a1d37, .3)
    .slick-active
      background: #003ec0

  .slick-dots
    li
      width: 20px
      height: 3px
      margin: 0 10px 0 0

  .place-box:nth-child(4), .place-box:last-child
    border-right: 1px solid #eee

  .place-decor
    width: 35px
    height: 35px
    top: 70px
    &:before
      width: 297px
      height: 175px
      top: 0
      right: 17px

  .counter-slide
    display: none

  .fleet
    padding: 87px 0 38px

  .fleet-item
    max-width: 290px
    width: 100%
    height: 330px
    margin: 0 auto

  .fleet-item__text
    padding: 0 20px 30px

  .scroll-block
    overflow-x: visible

  .certificate-box
    min-width: auto
    width: 220px
    height: 291px

  .certificate-box__img
    max-width: 168px

  .certificates
    padding: 80px 0 36px

  .certificates-wrapper.slick-initialized .slick-slide
    display: flex

  .certificates-nav
    margin: 40px auto 0
    .slick-dots
      li
        background: rgba(#0a1d37, .3)
      .slick-active
        background: #003ec0


  .btn-download
    padding: 7px 15px

  .number-max
    display: none

  .advantages
    padding: 0 0 85px
    .slick-arrow
      top: 210px
    .slick-prev
      left: 0
    .slick-next
      left: 70px

  .advantages-text
    width: 100%
    max-width: none

  .advantages-item__content
    padding: 0
    width: 100%

  .advantages-item
    flex-wrap: wrap

  .advantages-item__icon
    margin: 0 auto 33px

  .advantages-item__top
    width: 100%
    margin: 0 0 68px
    .number
      margin: 0 30px 0 0

  .about-images
    margin: 0 auto 80px
    &:before
      width: calc(100% + 30px)
      left: -15px
      height: 100px
    .image
      height: 200px
      max-width: 291px

  .about-images-text
    width: 130px
    height: 160px
    padding: 20px
    bottom: -20px
    strong
      line-height: 1

  .timetable
    padding: 78px 0 48px

  .timetable-line
    padding: 20px 10px 20px 0

  .timetable-line__box
    width: calc(100% - 130px)
    margin: 0 0 15px auto

  .timetable-line__title
    margin: 0
    width: 100%
    padding: 0 0 0 20px

  .timetable-line__date
    width: 95px
    height: 100px

  .timer
    &:before, &:after
      display: none

  .main-box
    width: 100%
    height: 194px

  .home-content
    margin: 0 0 105px 20px
    max-width: 240px

  h1
    font-size: 31.5px

  .home
    padding: 284px 0 0
    -webkit-background-size: 1200px
    background-size: 1200px


  .logo
    max-width: 123px
    margin: 0 auto 0 0

  .header-wrapper
    display: none

  .col-3
    width: 100%

  .main-contacts .contacts-wrapper
    align-items: flex-start
    .contacts-box
      margin: 0 0 30px

  .about-wrapper__text
    padding: 0
    &::before, &:after
      display: none

  .about-school .about-images .image
    height: 400px

  .panel_heading .block_title
    padding: 20px 80px

  .price-service
    flex-wrap: wrap
    &:before
      display: none

  .th, .td
    padding: 20px 10px

  .rating-icao-table
    min-width: 700px

  .aviation-about
    .scroll-block
      overflow-x: auto

  .rating-icao h3
    margin: 0 0 30px

  .gallery-box-title
    .btn
      margin: 0 auto

  .gallery-col-text
    order: -1

  .col-2
    width: 100%

  .course-steps
    padding: 80px 0

  .course-steps-box
    margin: 0 0 40px
    h3
      margin: 0 0 10px
    .links
      margin: 15px 0 0

  .course-steps-box__number
    margin: 0 0 10px
    font-size: 30px

  .training-timeline-box
    max-width: none

  .training-timeline h2
    margin: 0 0 40px

  .training-timeline-box:nth-child(3), .training-timeline-box:nth-child(4)
    margin: 0 0 30px

@media only screen and (max-width: 480px)
  .home
    background-position: -590px top

  .callback-image
    padding: 60px 15px 140px
    h2
      margin: 0 auto


/* Custom, iPhone Retina */
@media only screen and (max-width: 360px)
  .advantages
    .slick-arrow
      top: 220px

  .home
    background-position: -630px top